#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.chat-input-container{
  width: 100%;
  margin: 5px;
  
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;

}



.chat-input{
  width: 90%;
  padding: 0.5rem;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #fff;
  border: 2px solid #353535;
  border-right: none;
  color: #000;

}

.chat-input:focus{
  border: 3px solid #ff0073;
  border-right: none;

}
.chat-input-button{
  width: 10%;
  padding: 0.5rem;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;
  border: 2px solid #353535;
  border-left: none;
  color: #000;


}
