#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  text-align: center;
}

.register-container {
  width: 100%;
  height: 100%;
  max-width: 480px;
  max-height: 560px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 7vh;
  border-radius: 3vh;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  width: 100%;
  height: 5vh;
  margin: 1vh;
  padding: 1vh;
  border-radius: 1vh;
  border: 1px solid #6c6c6c;
  background-color: #ffffff;
  color: black;
}

