#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  text-align: center;
}


.login-container {
  width: auto;
  height: auto;

  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 4em;
  border-radius: 3vh;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.input-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
}
input{
  width: 100%;
  height: auto;
  margin: 1vh;
  padding: 1em;
  border-radius: 1vh;
  border: 1px solid #6c6c6c;
  background-color: #ffffff;
  color: black;
}

button{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5vh;
  border: none;
  background-color: #ff3f3f;
  color: white;
  cursor: pointer;
}


button:disabled {
  background-color: #d2d2d2;
  color: #6c6c6c;
  cursor: not-allowed;
}

.small-button{
  width: auto;
  height: auto;
  padding:1em;
  font-size: 1em;
  background-color: #fff;
  color: #ff3f3f;
  font-weight: 800;


}

.text-button{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
}

